<div class="site-footer">
    <div class="footer-container">
        <div class="footer-about">
            <h3>Art Blogs</h3>
            <p>Sharing thoughts, stories, and ideas from around the world.</p>
        </div>

        <div class="footer-links">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/allBlogs">All Blogs</a></li>
                <li><a href="/createBlog">Create Blog</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>

        <div class="footer-social">
            <h4>Follow Us</h4>
            <div class="social-icons">
                <a href="#"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/github.svg" alt="GitHub"></a>
                <a href="#"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/twitter.svg" alt="Twitter"></a>
                <a href="#"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/instagram.svg"
                        alt="Instagram"></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; <%= new Date().getFullYear() %>
        </p>
        <p> Art Blogs. Created by </p><a href="https://github.com/AbhiShekSehjal"
            style=" color: white; font-size: 20px;">Abhishek sehjal</a>
    </div>
</div>