:root {
    --primary-color: #3182CE;
    --accent-color: #D69E2E;
    --background-color: #FFFFFF;
    --text-color: #2D3748;
    --button-color: #4299E1;

    --heading-font: 'Lora', serif;
    --body-font: 'Open Sans', sans-serif;
}

body {
    background-color: var(--background-color);
}

/* Custom Scrollbar for Webkit Browsers */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    /* Bootstrap primary color */
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) #f1f1f1;
    scroll-behavior: smooth;
}

/* flash message */
.alert-dismissible {
    width: 60% !important;
    margin: 10px auto !important;
}

/* navbar -------------------- */
.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#navbar {
    width: 5em;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    transition: width 0.6s ease;
    background: var(--accent-color);
    font-family: var(--heading-font);
    border-right: 1px solid white;
}

#navbar:hover {
    width: 12em;
}

.navbar-items {
    margin: 0;
    padding: 0;
}

.navbar-logo {
    margin: 0 0 2em 0;
    height: 5em;
}

.navbar-logo>.navbar-item-inner>svg {
    height: 2em;
    fill: var(--background-color);
}

.navbar-item {
    padding: 0 .5em;
    width: 100%;
    cursor: pointer;
}

.navbar-item-inner {
    padding: 1em 0;
    width: 100%;
    position: relative;
    color: var(--background-color);
    border-radius: .25em;
    text-decoration: none;
}

.navbar-item-inner:hover {
    background-color: var(--text-color);
}

.navbar-item-inner-icon-wrapper {
    width: calc(5rem - 1em - 8px);
    position: relative;
}

.link-text {
    margin: 0;
    width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.7s ease;
    overflow: hidden;
    opacity: 0;
}

#navbar:hover .link-text {
    width: calc(100% - calc(5rem - 8px));
    opacity: 1;
}

@media only screen and (max-width: 496px) {
    #navbar {
        width: 3.5em;
    }

    #navbar:hover {
        width: 3.5em;
    }
}


/* AllBlog page ------------------ */
.blog-card {
    background-color: var(--background-color);
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.276);
    margin-bottom: 2rem;
    font-family: var(--heading-font);
}

.blog-image {
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.blog-content {
    padding: 1.5rem;
}

.category-badge {
    font-size: 0.75rem;
    background-color: var(--accent-color);
    color: var(--background-color);
    padding: 0.25rem 0.6rem;
    border-radius: 20px;
    text-transform: uppercase;
}

.meta {
    font-size: 0.85rem;
    color: var(--text-color);
}

/* create new blog page -------------- */
.form-container {
    background: var(--background-color);
    padding: 50px;
    width: 80%;
    margin: 0 auto;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 24px;
    color: var(--text-color);
    font-family: var(--body-font);
}

.form-container label {
    display: block;
    margin: 8px;
    color: var(--text-color);
    font-weight: 600;
    font-family: var(--heading-font);
    font-size: 18px;
}

.form-container input,
.form-container textarea,
.form-container select {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s;
    font-family: var(--heading-font);
}

.form-container input:focus,
.form-container textarea:focus {
    outline: none;
    border-color: var(--accent-color);
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.2);
}

.form-container textarea {
    resize: vertical;
    min-height: 150px;
}

.form-container .submit-btn {
    background: var(--button-color);
    color: var(--text-color);
    padding: 14px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: var(--heading-font);
    font-weight: 600;
}

.form-container .submit-btn:hover {
    background: var(--primary-color);
    color: var(--background-color);
}

@media only screen and (max-width: 475px) {
    .form-container {
        padding: 10px;
        margin-left: 50px;
    }

    .form-container h2 {
        font-size: 16px;
    }

    .form-container label {
        font-size: 16px;
        font-weight: 500;
    }

    .form-container .submit-btn {
        padding: 10px;
    }

}

/* home page (header) --------------- */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: var(--body-font);
}

.leftSideBox {
    width: 550px;
}

.headingLine {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    font-weight: 600;
}

.rightSideBox {
    width: 550px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgImage {
    width: 70%;
    height: 70%;
    background: url("../images/bgPng.png");
    background-size: calc(430px);
    background-position: center;
    background-repeat: no-repeat;
    animation-name: rotateBgImage;
    animation-duration: 20s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.authBtns {
    background-color: var(--accent-color);
    border-radius: 15px;
    padding: 2px 9px;
    transition: all 0.2s ease;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.874);
    border: none;
    font-family: var(--heading-font);
}

.authBtns:hover {
    transform: translateY(5px);
}

.authBtns a {
    text-decoration: none;
    color: var(--background-color);
    transition: all 0.2s ease;
}


@keyframes rotateBgImage {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 760px) {
    .bgImage {
        background-size: calc(300px);
    }

    .leftSideBox {
        margin-left: 55px;
    }

    .rightSideBox {
        margin-left: 60px;
    }
}

@media only screen and (max-width: 440px) {
    .rightSideBox {
        display: none;
    }
}

/* show Blog page -------------- */
.showBlogPageBlogTitle {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--text-color);
    font-family: var(--body-font);
}

.urnderline {
    /* width: 500px; */
    height: 3px;
    background-color: var(--accent-color);
}

.showBlogPageBlogImage {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-bottom: 30px;
    transition: all 0.4s ease;

}

.showBlogPageBlogImage:hover {
    filter: saturate(0);
}

.showBlogPageBlogContent {
    font-size: 18px;
    color: var(--text-color);
    line-height: 2;
    white-space: pre-wrap;
    font-family: var(--heading-font);
    height: 200px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.showBlogPageBlogContent::after{
    content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6em; /* height of the fade effect */

    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);

}

#showMoreContent {
    font-size: 100px;
    position: absolute;
    bottom: -8px;
    color: var(--button-color);
    cursor: pointer;
    z-index: 1;
}

.back-link {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
    color: var(--accent-color);
    font-family: var(--body-font);
}

.back-link:hover {
    color: var(--text-color);
}

#likes-count {
    font-weight: bold;
    cursor: pointer;
}

.showBlogPageBlogCategory {
    background-color: var(--accent-color);
    width: fit-content;
    height: fit-content;
    padding: 2px 8px;
    color: var(--background-color);
    border-radius: 50px;
    text-transform: uppercase;
    font-family: var(--heading-font);
}

@media only screen and (max-width: 600px) {
    .showBlogPageBlogTitle {
        font-size: 20px;
    }

    .showBlogPageBlogContent {
        font-size: 18px;
    }
}

@media only screen and (max-width: 575px) {
    .forMobileDesign {
        width: 90%;
        margin: 0 auto;
        padding-left: 50px;
    }
}

/* edit blog page -------------- */
.editFormContainer {
    background: var(--background-color);
    padding: 40px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.editFormContainer h2 {
    text-align: center;
    margin-bottom: 24px;
    color: var(--text-color);
    font-family: var(--body-font)
}

.editFormContainer label {
    display: block;
    margin-bottom: 8px;
    color: var(--text-color);
    font-weight: 600;
    font-family: var(--heading-font)
}

.editFormContainer input,
.editFormContainer textarea,
.editFormContainer select {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s;
    font-family: var(--heading-font)
}

.editFormContainer input:focus,
.editFormContainer textarea:focus {
    outline: none;
    border-color: var(--accent-color);
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.2);
}

.editFormContainer textarea {
    resize: vertical;
    min-height: 150px;
}

.editFormContainer .editSubmitBtn {
    background: var(--button-color);
    color: var(--text-color);
    padding: 14px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: var(--heading-font);
    font-weight: 600;
}

.editFormContainer .editSubmitBtn:hover {
    background: var(--primary-color);
    color: var(--background-color);
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 16px;
    text-decoration: none;
    color: var(--text-color);
}

.back-link:hover {
    color: var(--accent-color);
}

/* footer ---------- */
.site-footer {
    background-color: var(--accent-color);
    color: var(--background-color);
    padding: 40px 0;
    font-family: 'Poppins', sans-serif;
    font-family: var(--body-font);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    gap: 30px;
    width: 60%;
}

.footer-about,
.footer-links,
.footer-social {
    flex: 1;
    min-width: 200px;
}

.footer-about h3,
.footer-links h4,
.footer-social h4 {
    margin-bottom: 15px;
    color: var(--background-color);
    font-weight: 600
}

.footer-about p {
    color: var(--background-color);
    font-family: var(--heading-font);
}

.footer-links ul {
    list-style: none;
    padding: 0;
    font-family: var(--heading-font);
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    color: var(--background-color);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: var(--text-color);
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: var(--background-color);
    border-top: 0.2px solid #ffffff;
    padding-top: 20px;
    font-family: var(--heading-font);
}

/* signIn form -------------- */
.signup-container {
    background: var(--background-color);
    padding: 50px;
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
}

.signup-container h3 {
    text-align: center;
    margin-bottom: 24px;
    color: var(--text-color);
}

.signup-container .form-group {
    margin-bottom: 20px;
}

.signup-container .form-group label {
    display: block;
    margin-bottom: 8px;
    color: var(--text-color);
}

.signup-container .form-group input[type="text"],
.signup-container .form-group input[type="password"],
.signup-container .form-group input[type="email"] {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.btn-submit {
    width: 100%;
    background: var(--button-color);
    color: var(--text-color);
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-submit:hover {
    background: var(--primary-color);
}

.extra-links {
    text-align: center;
    margin-top: 15px;
}

.extra-links a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}

@media only screen and (max-width: 500px) {
    .signup-container {
        padding: 10px;
        margin-left: 60px;
    }

    .signup-container h3 {
        font-size: 16px;
    }

    .signup-container .form-group label {
        font-size: 16px;
        font-weight: 500;
    }

    .btn-submit {
        padding: 10px;
    }
}

/* login page ---------------------- */
.login-container {
    background: var(--background-color);
    padding: 50px;
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
}

.login-container h3 {
    text-align: center;
    margin-bottom: 24px;
    color: var(--text-color);
}

.login-container .form-group {
    margin-bottom: 20px;
}

.login-container .form-group label {
    display: block;
    margin-bottom: 8px;
    color: var(--text-color);
}

.login-container .form-group input[type="text"],
.login-container .form-group input[type="password"] {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.loginBtnSubmit {
    width: 100%;
    background: var(--button-color);
    color: var(--text-color);
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.loginBtnSubmit:hover {
    background: var(--primary-color);
}

.extra-links {
    text-align: center;
    margin-top: 15px;
}

.extra-links a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 500;
}

@media only screen and (max-width: 500px) {
    .login-container {
        padding: 10px;
        margin-left: 60px;
    }

    .login-container h3 {
        font-size: 16px;
    }

    .login-container .form-group label {
        font-size: 16px;
        font-weight: 500;
    }

    .loginBtnSubmit {
        padding: 10px;
    }
}


/* user Profile ------------------ */
.profile-container {
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.upperProfileContainer {
    width: 80%;
    /* background-color: #4299E1; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--accent-color);
    margin-bottom: 20px;
    margin-top: 20px;
    transition: all 0.5s ease;
}

.username {
    font-size: 24px;
    font-weight: 700;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.middleProfileContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: var(--heading-font);
    width: 80%;
    /* background-color: red; */
}

.email {
    font-size: 18px;
    color: var(--text-color);
    margin: 15px;
    font-family: var(--heading-font);
}

.bio,
.gender,
.dob {
    text-align: left;
    font-size: 18px;
    color: var(--text-color);
    margin: 12px;
}

.label {
    font-weight: 600;
    color: var(--text-color);
}


.lowerProfileContainer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #eee;
    padding-top: 15px;
    font-family: var(--body-font);
    /* background: #0ea169; */
    width: 80%;
}

#followers-count {
    font-weight: bold;
    cursor: pointer;
}

#following-count {
    font-weight: bold;
    cursor: pointer;
}

#followersList {
    position: absolute;
    top: 40vh;
    background-color: var(--accent-color);
    color: var(--background-color);
    padding-right: 20px;
    padding-top: 15px;
    padding-left: 10px;
    border-radius: 15px;
    display: none;
    align-items: start;
    justify-content: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.47);
}

#followingList {
    position: absolute;
    top: 40vh;
    background-color: var(--accent-color);
    color: var(--background-color);
    padding-right: 20px;
    padding-top: 15px;
    padding-left: 10px;
    border-radius: 15px;
    display: none;
    align-items: start;
    justify-content: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.47);
}

.follow-btn {
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    padding: 8px 20px;
    border-radius: 9999px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.2s ease;
}

.follow-btn:hover {
    background-color: var(--primary-color);
}

.follow-btn.following {
    background-color: var(--button-color);
    color: var(--text-color);
}

/* redirect page to login / sign in page */
.auth-wrapper {
    background-color: var(--background-color);
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: 40px auto;
}

.auth-title {
    color: var(--accent-color);
    font-size: 24px;
    margin-bottom: 20px;
}

.auth-message {
    color: var(--text-color);
    font-size: 16px;
    margin-bottom: 30px;
}

.auth-button {
    display: inline-block;
    margin: 0 10px;
    padding: 12px 25px;
    font-size: 15px;
    color: var(--text-color) !important;
    background-color: var(--button-color);
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.auth-button:hover {
    background-color: var(--primary-color);
}

.signup-button {
    background-color: var(--button-color);
}

.signup-button:hover {
    background-color: var(--primary-color);
}

/* userInfoSaveContainer */
.userInfoSaveContainer {
    background: var(--background-color);
    padding: 50px;
    width: 80%;
    margin: 0 auto;
}

.userInfoSaveContainer h2 {
    text-align: center;
    margin-bottom: 24px;
    color: var(--text-color);
    font-family: var(--body-font);
}

.userInfoSaveContainer label {
    display: block;
    margin: 8px;
    color: var(--text-color);
    font-weight: 600;
    font-family: var(--heading-font);
    font-size: 18px;
}

.userInfoSaveContainer input[type="file"],
.userInfoSaveContainer input[type="date"],
.userInfoSaveContainer select,
.userInfoSaveContainer textarea {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s;
    font-family: var(--heading-font);
}

.userInfoSaveContainer textarea {
    resize: vertical;
    min-height: 100px;
}

.userInfoSaveContainer .btn-success {
    background: var(--button-color);
    color: var(--text-color);
    padding: 14px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: var(--heading-font);
    font-weight: 600;
}

.userInfoSaveContainer .btn-success:hover {
    background: var(--primary-color);
    color: var(--background-color);
}

@media (max-width: 475px) {
    .userInfoSaveContainer {
        padding: 10px;
        margin-left: 60px;
    }

    .userInfoSaveContainer h2 {
        font-size: 16px;
    }

    .userInfoSaveContainer label {
        font-size: 16px;
        font-weight: 500;
    }

    .userInfoSaveContainer .btn-success {
        padding: 10px;
    }
}