<% layout("./Layouts/boilerplate.ejs") %>

    <!-- Header -->
    <header class="container header">
        <div class="leftSideBox">
            <div class="headingLine">
                Exploring the unseen stories of human minds and history.
            </div>
        </div>
        <div class="rightSideBox">
            <div class="bgImage"></div>
        </div>
    </header>